body {
    font-family: Courier;
}

h1 {
    background-color: lightgreen;
    padding: 10px;
}

.post {
    float: right;
    width: 85%;
    padding: 10px;
    font-size: 20;
    white-space: pre-line;
}

#edit:hover {
    background-color: gray;
}

#recent {
    width: 10%;
    display: inline-block;
    border: 2px solid;
    border-color: black;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    position: fixed;
    background-color: lightgray;
}

#recent li {
    padding: 10px;
}

#recent li:hover {
    background-color: gray;
    font-weight: bold;
}

#recent a {
    display: block;
}

#recent a:visited {
    color: black;
}
