body {
    font-family: Courier;
    font-size: 100%;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}

.post {
    padding: 10px;
    font-size: 20;
    white-space: pre-line;
}

#edit:hover {
    background-color: gray;
}

#entries {
    text-align: center;
    display: block;
    border: 2px solid;
    border-color: black;
    background-color: lightgray;
}

#entries li:hover {
    background-color: gray;
    font-weight: bold;
}

#entries li {
    display: block;
    padding: 10px;
}

#entries a {
  color: black;
}

#entries a:visited {
    color: black;
}

@media screen and (max-device-width: 480px) {
  body {
    width: 90%;
    font-size: 300%;
  }
}
