<html>
    <head>
        <title>{{.Name}}</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <h1>{{.Name}}</h1>
        <div class="index">
            <br/>
            <ul id="entries">
            {{range .Entries}}
              <li class="entry">
                <a href="/view/{{.Title}}">{{.Title}}</a><br/>
                {{.Created}}
              </li>
            {{end}}
            </ul>
            <br/>
            {{if .Authenticated}}
            <form action="/admin/new" method="POST">
                Title: <input type="text" name="title"/> <input type="submit" value="New Post"/>
            </form>
            {{end}}
        </div>
   </body>
</html>
