<html>
    <head>
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
      <h1>{{.Title}}</h1><br/>
        <div class="index">
          <a href="/index">Index</a>
        </div>
        <div class="post">
            {{printf "%s" .Body}}
            <br/>
            <a href="/index">Index</a>
            <p>
              Created: {{.Created}}
              Updated: {{.Updated}}
            </p>
            {{if .Authenticated}}
            [<a id="edit" href="/admin/edit/{{.Title}}">edit</a>]
            {{end}}
        </div>
   </body>
</html>
